<IfModule mod_rewrite.c>
    #将所有不存在的文件/目录请求都转发给index.php让laravel处理路由
    RewriteEngine On

    # 处理前端请求
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>